<div class="row">
  <div class="col-xs-12">
    <%=simple_form_for @new_current_condition do |f|%>
      <%=f.input :location, label: false, placeholder: "Enter your location (City, ST)", input_html: { autocomplete: 'off' } %>
      <%=hidden_field_tag :lat%>
      <%=hidden_field_tag :long%>
      <%=hidden_field_tag :location_id%>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="get_weather">
          <span class="glyphicon glyphicon-play"></span> 
          <span class="hidden-xs hidden-sm">Get Weather</span>
        </button>
        <button type="button" class="btn btn-default" id="my_location">
          <span class="glyphicon glyphicon-map-marker"></span> 
          <span class="hidden-xs hidden-sm">My Location</span>
        </button>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-star"></span> 
            <span class="hidden-xs hidden-sm">Favorites </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if current_user%>
              <% if !current_user.saved_locations.blank? %>
                <% current_user.saved_locations.each do|l|%>
                <li>
                  <%=link_to l.name, current_conditions_path(lat: l.lat, long: l.long), method: :post%>
                </li>
                <%end%>
                <li class="divider"></li>
                <li><%=link_to "Edit Favorites", user_path(current_user)%></li>
              <% else %>
                <li>None</li>
              <% end %>
            <% else %>
              <li><a href="#" data-toggle='modal' data-target='#sign_in_modal'>
                Sign in to use favorites</a></li>
            <% end %>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-time"></span> 
            <span class="hidden-xs hidden-sm">Recent </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if current_user %>
              <li><a href="#"><i>My Recent</i></a></li>
              <% CurrentCondition.recent.by_user(current_user).each do |c| %>
              <li><%=link_to c.location, current_condition_path(c)%></li>
              <% end %>
              <li class="divider"></li>
            <% end %>

            <% CurrentCondition.recent.each do |c| %>
            <li><%=link_to c.location, current_condition_path(c)%></li>
            <% end %>
          </ul>
        </div>
      </div>
    <%end%>
  </div>
</div>

<script>
  $("#my_location").click(function(e){
    e.preventDefault();
    navigator.geolocation.getCurrentPosition(geoSuccess, geoError, {});  
  });

  $("#get_weather").click(function(e){
    e.preventDefault();

    if($("#current_condition_location").val() === "")
      alert("You must enter a location or enable location services and click My Location");
    else
      $("#new_current_condition").submit();
  });

  function geoSuccess(position){
    $("#current_condition_location").val("My location");
    $("#lat").val(position.coords.latitude);
    $("#long").val(position.coords.longitude);
    $("#new_current_condition").submit();
  }

  function geoError(d, textStatus, error){
    console.error("getCurrentPosition failed, status: " + d.message);
    alert("Unable to get your location" + d.message);
  }

  var location_bh = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/api/v1/locations?name_like=%QUERY',
      filter: function (locations) {
          // Map the remote source JSON array to a JavaScript object array
          return $.map(locations.result, function (location) {
              return location.location;
          });
      }
    },
    limit: 15
  });
   
  location_bh.initialize();
   
  $('#current_condition_location').typeahead({
    hint: false,
    highlight: true,
    minLength: 4
    }, {
    name: 'location-typeahead',
    displayKey: 'value',
    source: location_bh.ttAdapter()
  });

  $('#current_condition_location').on('typeahead:selected', function(evt, item) {
    $("#lat").val(item.lat);
    $("#long").val(item.long);
    $("#location_id").val(item.id);
    $("#new_current_condition").submit();
  })
</script>
