<div class="row">
  <div id="conditions" class="col-lg-12" style="background: url(<%=@current_condition.phrase.image%>) no-repeat; background-size: 100% 100%;">
    <div class="row"><p></p></div>
    <%=simple_form_for @current_condition do |f|%>
      <%=f.input :location, label: false, placeholder: "Enter your location (City, ST)"%>
      <%=hidden_field_tag :lat%>
      <%=hidden_field_tag :long%>
      <div class="btn-group" role="group" style="width:100%">
        <button type="button" class="btn btn-default" id="get_weather">Get Weather</button>
        <button type="button" class="btn btn-default" id="my_location">My Location</button>
      </div>
    <%end%>

    <div class="content-container">
      <h1 id="location"><%=@current_condition.location%></h1>
      <p id="temp"><span id="value"><%=@current_condition.temperature%></span>&deg;</p>
      <p id="condition"><%=@current_condition.description%>...<%=@current_condition.phrase.phrase%></p>
      <div id="phrase_vote_container">
        <%=render partial: "phrase_votes/phrase_vote", locals: { phrase: @current_condition.phrase }%>
      </div>
      <div class="fb-like" data-href="http://mnweather.tandemdd.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <br />
</div>
