<div class="row">
  <div id="conditions" class="col-lg-12" style="background: url(<%=@current_condition.phrase.image%>) no-repeat; background-size: 100% 100%;">
    <div class="row"><p></p></div>

    <div class="content-container">
      <h1 id="location"><%=@current_condition.location%></h1>
      <p id="temp"><span id="value"><%=@current_condition.temperature%></span>&deg;</p>
      <p id="condition"><%=@current_condition.description%>...<%=@current_condition.phrase.phrase%></p>
      <div id="phrase_vote_container">
        <%=render partial: "phrase_votes/phrase_vote", locals: { phrase: @current_condition.phrase }%>
      </div>
      <p><small>As of: <%=l @current_condition.created_at%> | 
        <%=link_to "Refresh conditions", current_conditions_path(lat: @current_condition.lat, long: @current_condition.long), method: :post%> |
        <%=link_to "Add phrase for conditions", new_phrase_path(phrase: @current_condition.phrase_params)%>
      </small></p>
      <p><small>Submitted by: <%=link_to @current_condition.phrase.user_name, user_path(@current_condition.phrase.user)%></small></p>
      <div class="fb-like" data-href="http://localhost:3000/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="row"><p></p></div>
</div>
