<% model_class = Phrase %>
<p>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Sort By</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="?sort=top">Top</a></li>
      <li><a href="?sort=recent">Recent</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Condition</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% Phrase.conditions.each do |name, value| %>
      <li><%=link_to name, params.merge(condition: value) %></li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Temperature</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% Phrase.temperatures.each do |name, value| %>
      <li><%=link_to name, params.merge(temperature: value) %></li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Season</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% Phrase.seasons.each do |name, value| %>
      <li><%=link_to name, params.merge(season: value) %></li>
      <% end %>
    </ul>
  </div>
  <%=link_to "Reset", phrases_path, class: "btn btn-default"%>
</p>

<p>
  <%=link_to new_phrase_path(phrase: params.except("action", "controller")), class: "btn btn-default" do%>
  <span class="glyphicon glyphicon-plus"></span> Add Phrase
  <% end%>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:phrase) %></th>
      <th><%= model_class.human_attribute_name(:season) %></th>
      <th><%= model_class.human_attribute_name(:condition) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:time_period) %></th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= image_tag(phrase.thumb) %></td>
        <td><%= link_to phrase.phrase, phrase_path(phrase) %></td>
        <td><%= phrase.season %></td>
        <td><%= phrase.condition %></td>
        <td><%= phrase.temperature %></td>
        <td><%= phrase.time_period %></td>
        <td><%= phrase.phrase_vote_rep%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=will_paginate @phrases%>
