<h1><%=@user.name%>'s profile (<%= @user.points %> points)</h1>
<% if @user == current_user %>
<p>
  <%=link_to "My Phrases", phrases_path, class: "btn btn-default"%>
</p>
<% end%>

<h2>Badges</h2>
<% @user.badges_per_row(2) do |badges| %>
  <div class="row">
    <% badges.each do |badge| %>
    <div class="col-xs-6">
      <div class="well well-small">
        <p><%= badge_image(badge)%> <%= badge.name.capitalize %> <%if badge.level%>(Level <%=badge.level%>)<%end%> </p>
        <p><small><%= badge.description %></small></p>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
<% if @user == current_user %>
<h2>Cancel my account</h2>
<p>Please <%=link_to "contact us", "emailto: weatherminnesota@gmail.com"%> if you would like to cancel your account.</p>
<% end %>

<hr />
