<h1><%=@user.name%>'s profile (<%= @user.points %> points)</h1>
<% if @user == current_user %>
<p>
  <%=link_to "My Phrases", phrases_path, class: "btn btn-default"%>
</p>
<% end%>

<h2>Badges</h2>
<ul>
<% @user.badges.each do |badge| %>
  <li><strong><%= badge.name.capitalize %> <%if badge.level%>(Level <%=badge.level%>)<%end%></strong> - <%= badge.description %>

  </li>
<% end %>
</ul>

<% if @user == current_user %>
<h2>Cancel my account</h2>
<p>Please <%=link_to "contact us", "emailto: weatherminnesota@gmail.com"%> if you would like to cancel your account.</p>
<% end %>

<hr />
