<h1>About <%=app_name%></h1>
<div class="row">
  <div class="col-xs-8">
    <p>
      <%=app_name%> began as Minnesota Weather in December of 2013 as a tongue in cheek Facebook page about how Minnesotans are overly dependent upon talking about the weather as a source of conversation. It has been evolving since that time, with a focus on weather and Minnesota related humor. The Minnesota Weather app was built mostly for fun, but also hopes of bringing the platform to a large audience, while keeping with the original strategy focusing talking weather.

    </p>

    <p>
      In March 2015, the <%=link_to "application was upgraded", latest_path%> to become community oriented, allowing users to submit their own phrases and humor about the weather along with voting on phrases. Planned feature development include: weather schadenfreude (finding worse conditions than yours), other community engagement ideas such as temperature guessing, better badges and design improvements. 
    </p>

    <h2>Contact</h2>
    <p>
      You can contact us via <%=link_to "email", "mailto: weatherminnesota@gmail.com"%> or post on our <%=link_to "Facebook page", ""%>. If you have any problems with the application, your account or otherwise
    </p>

    <h2>Contribute</h2>
    <p>
      <%=app_name%> is an open source application. If you find a bug, think of a feature or want to help amend our incredible design short comings, check us out on <%=link_to "Github", "https://github.com/pete2786/mnw-rails4", target: "_blank"%>.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=pete2786&repo=mnw-rails4&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </p>
  </div>

  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="<%=asset_path('bailey.jpg')%>" alt="The Official <%=app_name%> mascot" width="240">
      <div class="caption">
        <p>Bailey aka The Beast. The Official mascot of <%=app_name%>.</p>
      </div>
    </div>
  </div>
  
</div>

<hr />
