<% if @current_condition && @current_condition.valid? %>
<%= render partial: "current_conditions/current_condition", locals: {forecast: false} %>
<% else %>
<div class="row">
  <div id="conditions" class="col-lg-12" style="background: url(<%=asset_path('fallback/default.png')%>) no-repeat; background-size: 100% 100%;">
    <div class="row"><p></p></div>
    <%=render partial: "current_conditions/form"%>

    <div class="content-container">
      <h1 id="location">Minneapolis</h1>
      <p id="temp"><span id="value">-40</span>&deg;</p>
      <p id="condition">Nobody likes a default of Cupertino, but we hope the real conditions are better than this...</p>
      <div class="fb-like" data-href="http://www.weatherclever.com/" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="row"><p></p></div>
</div>
<% end %>
<div class="row">
  <div class="col-lg-4">
    <h2>What is <%=app_name%>?</h2>
    <p><%=app_name%> is first and foremost a place where you can check the weather, with a twist. For folks in less than friendly climates, sometimes you need a little empathy, or sympathy. Our forecasts come with a custom image and comment on the current conditions to brigten your spirts or get you out the door.</p>
    <p><a class="btn btn-default" href="#" onclick="$('#current_condition_location').focus(); window.scrollTo(0,0);return false;" role="button">Check the Weather »</a></p>
  </div>

  <div class="col-lg-4">
    <h2>Community</h2>
    <p>The <%=app_name%> community the most essential component to our system. Instead of a centralized phrase dictionary, you can submit and vote on the phrases or even just check the weather. As you use <%=app_name%>, you gain points and badges. The more you do, the better your <%=link_to "reputation", reputation_path%> becomes.</p>
    <p>
      <%=link_to_or_siginin("Get started »", contributions_path, class: "btn btn-default") %>
    </p>
  </div>

  <div class="col-lg-4">
    <h2>New Members Promotion</h2>
    <p>Want to win a $25 Duluth Pack gift card? The first 100 members who visit our page, sign in with Facebook, then look up the weather (must do this AT LEAST once!) are eligible to win one of two $25 Duluth Pack gift cards! It's that easy, pretty good odds!</p>
    <p><a class="btn btn-default" href="/about" role="button">Learn more »</a></p>
  </div>
</div>

<hr />
