<div class="row">
  <div id="conditions" class="col-lg-12" style="background: url(<%=asset_path('fallback/default.png')%>) no-repeat; background-size: 100% 100%;">
    <div class="row"><p></p></div>
    <%=simple_form_for @current_condition do |f|%>
      <%=f.input :location, label: false, placeholder: "Enter your location (City, ST)"%>
      <%=hidden_field_tag :lat%>
      <%=hidden_field_tag :long%>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="get_weather">Get Weather</button>
        <button type="button" class="btn btn-default" id="my_location">My Location</button>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-star"></span> Favorites <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if current_user%>
              <% if !current_user.saved_locations.blank? %>
                <% current_user.saved_locations.each do|l|%>
                <li>
                  <%=link_to l.name, current_conditions_path(lat: l.lat, long: l.long), method: :post%>
                </li>
                <li class="divider"></li>
                <li><%=link_to "Edit Favorites", user_path(current_user)%></li>
                <%end%>
              <% else %>
                <li>None</li>
              <% end %>
            <% else %>
              <li><a href="#" data-toggle='modal' data-target='#sign_in_modal'>
                Sign in to use favorites</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    <%end%>

    <div class="content-container">
      <h1 id="location">Minneapolis</h1>
      <p id="temp"><span id="value">-40</span>&deg;</p>
      <p id="condition">Nobody likes a default of Cupertino, but we hope the real conditions are better than this...</p>
      <div class="fb-like" data-href="http://www.weatherclever.com/" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="row"><p></p></div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>What is <%=app_name%>?</h2>
    <p><%=app_name%> is first and foremost a place where you can check the weather, with a twist. For folks in less than friendly climates, sometimes you need a little empathy, or sympathy. Our forecasts come with a custom image and comment on the current conditions to brigten your spirts or get you out the door.</p>
    <p><a class="btn btn-default" href="#" onclick="$('#current_condition_location').focus(); window.scrollTo(0,0);return false;" role="button">Check the Weather »</a></p>
  </div>

  <div class="col-lg-4">
    <h2>Community</h2>
    <p>The <%=app_name%> community the most essential component to our system. Instead of a centralized phrase dictionary, you can submit and vote on the phrases or even just check the weather. As you use <%=app_name%>, you gain points and badges. The more you do, the better your <%=link_to "reputation", reputation_path%> becomes.</p>
    <p>
      <%=link_to_or_siginin("Get started »", contributions_path, class: "btn btn-default") %>
    </p>
  </div>

  <div class="col-lg-4">
    <h2>New Members Promotion</h2>
    <p>Want to win a $25 Duluth Pack gift card? The first 100 members who visit our page, sign in with Facebook, then look up the weather (must do this AT LEAST once!) are eligible to win one of two $25 Duluth Pack gift cards! It's that easy, pretty good odds!</p>
    <p><a class="btn btn-default" href="/about" role="button">Learn more »</a></p>
  </div>
</div>

<hr />

<script>
  $("#my_location").click(function(e){
    e.preventDefault();
    navigator.geolocation.getCurrentPosition(geoSuccess, geoError, {});  
  });

  $("#get_weather").click(function(e){
    e.preventDefault();

    if($("#current_condition_location").val() === "")
      alert("You must enter a location or enable location services and click My Location");
    else
      $("#new_current_condition").submit();
  });

  function geoSuccess(position){
    $("#current_condition_location").val("My location");
    $("#lat").val(position.coords.latitude);
    $("#long").val(position.coords.longitude);
    $("#new_current_condition").submit();
  }

  function geoError(d, textStatus, error){
    console.error("getCurrentPosition failed, status: " + d.message);
    alert("Unable to get your location" + d.message);
  }
</script>
