<h1>Reputation Explained</h1>
<p>We are using a reputation system with points and badges to reward our community members for engaging. Here is the breakdown of how you can earn points and badges.</p>
<h2>Points</h2>
<table class="table table-striped table-hover">
  <thead>
    <th>Action</th>
    <th>Points</th>
  </thead>
  <tbody>
    <tr>
      <td>You submit a phrase</td><td>+10</td>
    </tr>
      <tr>
        <td>You delete a phrase</td><td>-10</td>
      </tr>
      <tr>
        <td>Someone votes for your phrase</td><td>+5</td>
      </tr>
      <tr>
        <td>You vote for a phrase</td><td>+1</td>
      </tr>
      <tr>
        <td>You check the weather</td><td>+1</td>
      </tr>
    </tr>
  </tbody>
</table>

<h2>Badges</h2>
<table class="table table-striped table-hover">
  <thead>
    <th>Rule</th>
    <th>Badge Earned</th>
    <th>Badge</th>
  </thead>
  <tbody>
    <tr>
      <td>You are one of the first 100 community members</td>
      <td>Pioneer</td>
      <td><%=image_tag(asset_path("badges/pioneer.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You create a phrase</td>
      <td>Rookie</td>
      <td><%=image_tag(asset_path("badges/rookie.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You create over 10 phrases</td>
      <td>Pro</td>
      <td><%=image_tag(asset_path("badges/pro.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You create over 50 phrases</td>
      <td>Minnesotan</td>
      <td><%=image_tag(asset_path("badges/minnesotan.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You check the weather once</td>
      <td>Meteorologist (Level 1)</td>
      <td><%=image_tag(asset_path("badges/meteorologist_level1.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You check the weather 25 times</td>
      <td>Meteorologist (Level 2)</td>
      <td><%=image_tag(asset_path("badges/meteorologist_level2.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You check the weather 100 times</td>
      <td>Meteorologist (Level 3)</td>
      <td><%=image_tag(asset_path("badges/meteorologist_level3.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You check the weather 1000 times</td>
      <td>Meteorologist (Level 4)</td>
      <td><%=image_tag(asset_path("badges/meteorologist_level4.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>You vote on a phrase</td>
      <td>Judgemental</td>
      <td><%=image_tag(asset_path("badges/judgemental.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>Your phrases get over 10 likes</td>
      <td>Liked</td>
      <td><%=image_tag(asset_path("badges/liked.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>Your phrases get over 100 likes</td>
      <td>Loved</td>
      <td><%=image_tag(asset_path("badges/loved.png"), height: 25, width: 25)%></td>
    </tr>
    <tr>
      <td>Your phrases get over 1000 likes</td>
      <td>Revered</td>
      <td><%=image_tag(asset_path("badges/revered.png"), height: 25, width: 25)%></td>
    </tr>
  </tbody>
</table>
