+<%=phrase.phrase_votes.up.count%> 
<% if !phrase.voted_up?(current_user) %>
  <%=link_to(phrase_phrase_votes_path(phrase, vote_type: "Up"), 
              class: "btn btn-default btn-lg", 
              method: :post, remote: true) do %>
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  <% end %>
<% else %>
  <%=link_to(phrase_phrase_vote_path(phrase, phrase.vote_by(current_user)), 
            class: "btn btn-default btn-lg", style: "color: blue",
            method: :delete, remote: true) do %>
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  <% end %>
<% end %>

<% if !phrase.voted_down?(current_user) %>
  <%=link_to(phrase_phrase_votes_path(phrase, vote_type: "Down"), 
              class: "btn btn-default btn-lg",
              method: :post, remote: true) do %>
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
  <% end %>
<% else %>
  <%=link_to(phrase_phrase_vote_path(phrase, phrase.vote_by(current_user)), 
            class: "btn btn-default btn-lg", style: "color: blue",
            method: :delete, remote: true) do %>
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
  <% end %>
<% end %>
 -<%=phrase.phrase_votes.down.count%>
