<h1>Contributions</h1>
<div class="row">
  <div class="col-lg-6">
    <h2>Top Phrases</h2>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>Image</th>
        <th>Phrase</th>
        <th>Conditions</th>
        <th>Rep</th>
      </thead>
      <tbody>
        <% @contributions.top_phrases.each do |p| %>
        <tr>
          <td><%=image_tag p.thumb, height: 25, width: 25%></td>
          <td><%=truncate(p.phrase, limit: 25)%></td>
          <td><%=p.condition%>/<%=p.temperature%></td>
          <td><%=p.phrase_vote_rep%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <h2>Top Contributers</h2>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>User</th>
        <th>Points</th>
      </thead>
      <tbody>
        <% @contributions.top_users.each do |u| %>
        <tr>
          <td><%=image_tag u.image, height: 25, width: 25%> <%=u.name%></td>
          <td><%=u.points%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
