<footer>
  <p>
    &copy; <%=app_name%> <%=Date.today.year%> |
    <%=link_to "Privacy", privacy_path%> |
    <%=link_to "Contact Us", "emailto: weatherminnesota@gmail.com"%> |
    <strong><%=link_to "What's new?", latest_path%></strong>
  </p>
</footer>
