<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/" style="padding-right: 0;">
      <%=image_tag asset_path('apple-icon-144x144.png'), width: 25, height: 25%>
    </a>
    <a class="navbar-brand" href="/">
      Minnesota Weather
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Recent <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% if current_user %>
            <li><a href="#"><i>My Recent</i></a></li>
            <% CurrentCondition.recent.by_user(current_user).each do |c| %>
            <li><%=link_to c.location, current_condition_path(c)%></li>
            <% end %>
            <li class="divider"></li>
          <% end %>

          <% CurrentCondition.recent.each do |c| %>
          <li><%=link_to c.location, current_condition_path(c)%></li>
          <% end %>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Contribute <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to_or_signin_block(new_phrase_path) do%>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Phrase
          <%end%>
          </li>
          <li><%=link_to_or_siginin("My Phrases", phrases_path)%></li>
          <li class="divider"></li>
          <li><%=link_to_or_signin_block(contributions_path) do%>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Leaderboard
            <% end %>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          About <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to("Latest Update", latest_path)%></li>
          <li><%=link_to("About", about_path)%></li>
          <li><%=link_to("Contact", about_path)%></li>
          <li><%=link_to("Reputation", reputation_path)%></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%=image_tag current_user.image, height: 25, width: 25%>
          <%=current_user.name%> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to user_path(current_user) do%>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
            <% end %>
          </li>
          <li class="divider"></li>
          <li><%=link_to sessions_path, method: :delete do%>
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign Out
            <%end%></li>
        </ul>
      </li>
      <% else %>
      <li><%=link_to signin_path do%>
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign in with Facebook
        <%end%>
      </li>
      <% end %>
      
    </ul>
  </div>
</div>
