<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/" style="padding-right: 0;">
      <%=image_tag asset_path('apple-icon-144x144.png'), width: 25, height: 25%>
    </a>
    <a class="navbar-brand" href="/">
      <%=app_name%>
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><%=link_to(contributions_path) do%>
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Leaderboard
        <% end %>
      </li>

      <li><%=link_to_or_signin_block(new_phrase_path) do%>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Phrase
      <%end%>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Phrases <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% if current_user %>
          <li><%=link_to("My Phrases", my_phrases_path)%></li>
          <% end %>
          <li><%=link_to("Browse", phrases_path)%></li>
          <li><%=link_to("Tips", tips_path)%></li>
        </ul>
      </li>

      <li><%=link_to(new_schadenfreude_path) do%>
        <span class="wi wi-thunderstorm" aria-hidden="true"></span> Schadenfreude
        <% end %>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          About <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to("Reputation", reputation_path)%></li>
          <li><%=link_to("Contact", about_path)%></li>
          <li><%=link_to("About", about_path)%></li>
        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%=image_tag current_user.image, height: 25, width: 25%>
          <%=current_user.name%> 
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to user_path(current_user) do%>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
            <% end %>
          </li>
          <li><%=link_to edit_user_path(current_user) do%>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Settings
            <% end %>
          </li>
          <li><%=link_to(my_phrases_path) do%>
            <span class="glyphicon glyphicon-list-alt"></span> My Phrases
            <% end %>
          </li>
          <li class="divider"></li>
          <li><%=link_to sessions_path, method: :delete do%>
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign Out
            <%end%></li>
        </ul>
      </li>
      <li><a href="/reputation" style="padding-left: 0;"><span class="badge"><%=current_user.points%></span></a></li>
      <% else %>
      <li><%=link_to signin_path do%>
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign in with Facebook
        <%end%>
      </li>
      <% end %>
      
    </ul>
  </div>
</div>
